.say-hi {
  font-size: 20px;
  font-weight: 600;
  color: #0686a8;
  padding: 0 15px 0 15px;
  font-style: normal;
}

.bubble-margin {
  padding: 1px;
  margin: 0px;
}

.presentation-all-text {
  max-width: 450px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding: 0 15px 0 15px;
}


.speech-bubble {
	position: relative;
	background: #fafafa;
  border-radius: .4em;
  /* box-shadow: 0 0 55px #0686a8; */
  /* box-shadow: 0 0 40px #18afdb; */
  margin: 5vmin 5vmin 0 5vmin;
  box-shadow: 0 8px 45px -8px #18afdb, 0 -8px 40px -8px #0686a8;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}
