.textTypewriter{
    font-family: 'JetBrains Mono ExtraBold', monospace;
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: .30em;
}

.cursorTypeWriter{
    color: orange;
    font-size: 2rem;

}