.image {
  width: 215px;
  height: 150px;
  left: 45px;
  top: 180px;
  border-bottom-right-radius: 50px;
}



.Content {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: absolute;
  z-index: 2;
  font-style: italic;
}

.speech-bubble {
  position: relative;
  background: #fafafa;
  border-radius: 0.4em;
  /* box-shadow: 0 0 55px #0686a8; */
  /* box-shadow: 0 0 40px #18afdb; */
  margin: 275px 2vmin 0px 2vmin;
  box-shadow: 0 8px 45px -8px #18afdb, 0 -8px 40px -8px #0686a8;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 53px solid transparent;
	border-bottom-color: #fafafa;
	border-top: 0;
	border-right: 0;
	margin-left: -26.5px;
	margin-top: -53px;
}

.Background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #181d31;
  /* background-color: white; */
}

.say-hi {
  font-size: 20px;
  font-weight: 600;
  color: #0686a8;
  padding: 0 15px 0 15px;
  font-style: normal;
}

.bubble-margin {
  padding: 1px;
  margin: 0px;
}

.presentation-all-text {
  max-width: 450px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding: 0 15px 0 15px;
}

p {
  max-width: 100%;
}

ul {
  padding-inline-start: 0px !important;
}

li {
  list-style-type: none;
  margin-top: 10px;
}

li:hover {
  list-style-type: none;
  cursor: pointer;
  background-color: #dce6d4;
  border-radius: 5px;
}

.social-media {
  margin: 0px 0px 0px 0px !important;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: #0686a8;
}

.githubIcon {
  width: 140px;
  height: 90px;
  margin: 30px;
}

.twitterIcon{
  width: 130px;
  height: 150px;
  margin: 10px 0px 0px 32px;
}

.gmailIcon{
  width: 93px;
  height: 72px;
  margin: 38px 10px 0px 58px;
  box-shadow: 0 3px 7px black;
}

div.wrapper {
  position: relative;
  width: 69px;
  height: 100px;
  border-radius: 50px;
}
div.quarter {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #333;
  transition: transform 0.5s, opacity 0.9s;
  cursor: pointer;
}
div.quarter.left-top {
  border-top-left-radius: 50px;
  left: -191px;
  border-top-left-radius: 50px;
  width: 228px;
  height: 150px;
  top: 21px;
  background-color: white;
  border: 2px solid black;
}

div.quarter.right-top {
  left: 45px;
  top: 21px;
  border-top-right-radius: 50px;
  width: 215px;
  height: 150px;
  background-color: red;
  border: 2px solid black;
}
div.quarter.left-bottom {
  left: -191px;
  top: 180px;
  border-bottom-left-radius: 50px;
  width: 228px;
  height: 150px;
  background-color: #1DA1F2;
  border: 2px solid black;
}
div.quarter.right-bottom {
  width: 215px;
  height: 150px;
  left: 45px;
  top: 180px;
  border-bottom-right-radius: 50px;
  border: 2px solid black;
}
div.wrapper:hover div.quarter {
  opacity: 1;
}

div.quarter:hover  {
  opacity: 1 !important;
  box-shadow: 0 8px 45px -8px #18afdb, 0 -8px 40px -8px #0686a8;
}

